
.bill-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .content {
    background: #fff;
    width: 502px;
    padding: 24px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .close-btn {
      position: absolute;
      top: 6%;
      right: 16px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: #000;
      color: #fff;
      border: none;

      cursor: pointer;
    }
    .promo,
    .bill-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin: 10px 0;
      padding-bottom: 16px;
    }

    .promo {
      //border: 1px solid $pop-border;
      padding: 20px 18px;
      border-radius: 20px;
    }

    .bill-row.taxes {
      padding: 12px 0px;
      //border-top: 1px solid $pop-border;
      //border-bottom: 1px solid $pop-border;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tax-btn {
        margin-left: 14px;
        margin-top: 5px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: $white;
        font-weight: 700;
        padding: 0;
        line-height: 1;
      }
    }

    .pay-btn {
      margin-top: 20px;
      width: 100%;
      padding: 16px;
      border: none;
      border-radius: 30px;

      color: $white;
      cursor: pointer;
      background: $primary-gradient;
    }
  }
}


.table-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .table-card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .add-table {
    width: 100px;
    height: 100px;
    background-color: rgba($purple-950, 0.2);
    border: 2px dashed $primary-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      background: rgba(152, 90, 211, 0.05);
    }
  }
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 457px;
  background: rgba($white, 0.6);
  padding: 24px;
  overflow-y: auto;
  z-index: 999;
  backdrop-filter: blur(42px);

  &.hidden {
    transform: translateX(100%);
  }

  .sidebar-header {
    gap: 23px;

    .back-btn {
      background: none;
      border: none;
    }
  }

  .search-bar {
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 14px;
    background: rgba($white, 0.5);
    margin-bottom: 16px;
    position: relative;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: rgba($primary-color, 0.2);

    .item-left {
      display: flex;
      align-items: center;
      gap: 20px;

      .item-icon {
        max-width: 59px;
        min-width: 49px;
        height: 49px;
        border-radius: 14px;
        background-color: $white-900;
        padding: 10px 15px;
        backdrop-filter: blur(4px);
      }

      .item-price {
        color: $black-800;
      }
    }

    .item-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      background-color: rgba($white, 0.9);
      border: 1px solid rgba($black, 0.1);
      backdrop-filter: blur(42px);
      border-radius: 30px;
      padding: 9px 6px;
      min-width: 81px;

      .plus-minus {
        background-color: transparent;
        border: 0;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
      }

      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0;
      }
    }

    .delete-button {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      top: -6px;
      right: 0;
    }
  }
}